#root {
  height: 100%;
}

.input-fields {
  width: 15rem;
  padding: 0.5rem;
}

.labels {
  width: 15rem;
  text-align: start;
}

@media only screen and (max-width: 600px) {
  .container .contain {
    width: 90% !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}

.contain {
  width: 50%;
}

.icon {
  color: aqua;
  font-size: 3rem;
}

.app-name {
  color: aqua;
  font-size: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  text-align: start;
  padding-right: 0.5rem;
  font-size: small;
}

.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.container .contain-chat {
  width: 70%;
}

@media only screen and (max-width: 600px) {
  .container .contain-chat {
    width: 90% !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }

  .chat {
    width: 100% !important;
  }
}

.list-of-users {
  background-color: #82c4c3;
  width: 25%;
  overflow: auto;
}

.chat {
  width: 75%;
  overflow: auto;
}
